* {
    font-weight: normal;
    color: #333;
    font-family: Calibri, sans-serif;
}

.window{
    position: relative;
}

.window img{
    width: 100%;
}
h1{
    font-size: 30px;
    margin: 10px o;
    color: #96B0C7;
}

 .container{
    text-align: center;
    padding:25px;
    position: absolute;
    top:50px;
    width:500px;
    left: 400px;
    box-sizing: border-box;
    border: 3px solid gray;
    border-radius: 30px;
}

.container p{
    font-size: 20px;
    color:#E4FDFC;

}
.container input{
    padding: 10px;
    border: 0;
    border-radius: 10px 0 0 10px;
    border: 1px solid #333;
    font-size: 16px;
}
.container button{
    padding:10px;
    border: 0;
    color: #fff;
    background: #333;
    margin-left: -5px;
    margin-left: -5px;
    border-radius: 0 10px 10px 0;
    border: 1px solid #333;
    font-size: 16px;
}
.cross{
    position: absolute;
    top:10px;
    left: 10px;
    background: #555;
    color: #ddd;
    font-weight: bold;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 11px;
}

.container{
    top: -500px;
    transform-origin: 10px 10px;
    animation: drop 2s ease forwards,
               swing 4s 2s ease alternate;
}

@keyframes drop{
    0%{opacity: 0}
    70%{transform: translateY(700px)}
    100%{transform: translateY(650px); opacity: 1}
}
@keyframes swing{
    0%{transform: translateY(650px) rotateZ(0deg)}
    40%{transform: translateY(650px)rotateZ(90deg)}
    70%{transform: translateY(650px)rotatZ(70deg)}
    100%{transform: translateY(650px)rotateZ(75deg)}
}

.wave {
    position: relative;
}
 main{
    max-width: 100%;    
    padding: 0 40px;
    margin: 50px auto;
 }

  h2{
    padding: 10px;
    background: #98c1af ;
    color:  #2E5177;
    border: 2px solid #98afa6;
    border-radius: 10px;
}

p{
    line-height: 1.5em;
    color: #2E5177;
    font-size: 20px;
}

.wave img{
    width:200px;
    height: auto;
    animation: wave 6s both infinite normal linear;
}

@keyframes wave{
    from{transform: translateX(-100px)}
    to{transform: translateX(1000px);}
}
.social {
    background: #2E5177;
    padding: 20px;
}
.social p{
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

.social img{
    width: 270px;
    height: 170x;
    position: absolute;
    top:92%;
}
.back {
    padding:20px;
    background: #96B0C7;
    text-align: right;   
}
.back a{
    color: white;
    font-size: 20px;
}

.social p:hover {
    text-decoration: underline;
}
.social img:hover{
 background-color:rgb(180, 175, 175);
}


  
